<div class="cart-header">
    <div class="cart-container">
        <h2>Panier</h2>
        <div class='item-container'>
            <div class="item" *ngFor="let item of cartItems">

                <div class="img-cart-container">
                    <img class='cart-img' [src]="item.product.img" [alt]="item.product.description">
                </div>

                <div class="item-description">
                    <h4>{{ item.product.description }}</h4>
                    <p>{{ item.product.price * item.quantity}}€</p>
                </div>
                <div class="item-quantity">
                    <h6>Quantité : {{ item.quantity }}</h6>
                    <div class="cart-icons">
                        <i class="fa fa-plus" (click)="incrementQuantity(item)"></i>
                        <i class="fa fa-minus" (click)="decrementQuantity(item)"></i>
                        <i class="fa fa-trash" (click)="removeItem(item)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="total">
            <h3>Total</h3>
            <h3>{{ getTotal() }}€</h3>
        </div>
        <h6 class="total-articles"> Total articles : {{ getTotalQuantity() }}</h6>
    </div>