<div>
    <h1>Articles</h1>
    <div class="product-list">
        <div class="dropdown">
            <button class="dropbtn">Catégories</button>
            <div class="dropdown-content">
                <button (click)="filterProducts('all')">Tous</button>
                <button (click)="filterProducts('Clavier')">Claviers</button>
                <button (click)="filterProducts('Souris')">Souris</button>
                <button (click)="filterProducts('Casque')">Casques</button>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div *ngFor="let product of filteredProducts" class="card">
            <div class="img-container">
                <img [src]="product.img" [alt]="product.description">
            </div>
            <div class="card-text">
                <h3>{{ product.description }}</h3>
                <span>{{ product.price}}€</span>
            </div>
            <div class="add-to-cart">
                <button (click)="addToCart(product)">
                    Ajouter au panier
                </button>
            </div>
        </div>
    </div>
</div>